body {
    font-family: sans-serif;
    
}

/* РАБОТА С ЗАГОЛОВКОМ САЙТА */
.header {
    color: rgb(196, 26, 26);
    font-weight: bold;
    text-align: center;
    font-size: 29px;
}

div q {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

.sowa1 > a:hover {
    color: yellowgreen;
}

.sowa2 > a:hover {
    color: rgb(67, 230, 129);
}

.sowa3 > a:hover {
    color: rgb(236, 148, 16);
}

.sowa4 > a:hover {
    color: rgb(6, 106, 236);
}

.sowa5 > a:hover {
    color: rgb(250, 204, 0);
}

.sowa6 > a:hover {
    color: rgb(224, 4, 213);
}

.sowa7 > a:hover {
    color: rgb(17, 92, 116);
}

.sowa8 > a:hover {
    color: rgb(101, 156, 12);
}

.sowa9 > a:hover {
    color: rgb(6, 255, 201);
}

body .sowa1 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa2 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa3 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa4 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa5 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa6 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa7 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa8 > a:first-of-type:hover img {
    opacity: 0.7;
}

body .sowa9 > a:first-of-type:hover img {
    opacity: 0.7;
}
